@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import "tailwindcss";

.stalinist-one-regular {
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    .material-symbols-outlined {
        font-size: inherit !important;
        line-height: 1 !important;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 128;
    }
}
